<div class="card">
  <div class="card-body">
    <form>
      <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-4">
          <div class="form-group">
            <br/>
            <div class="col-sm-12">
              <label for="flight_number">{{ "dashboard.file-upload" | translate }}</label>
              <input [(ngModel)]="blobName" type="text" class="form-control" [placeholder]="'dashboard.enter-file-name' | translate " id="file-upload" name="blob">
              <br/>
              <input
              type="file"
              #csvReader
              name="Upload CSV"
              id="fileUpload"
              (change)="uploadListener($event)"
              accept=".csv"
              />
              <br/>
              <a href="../../../assets/BulkSrchInput.csv" download>{{ "dashboard.csv-template" | translate }}</a>
            </div>
            <div class="col-sm-12 mt-3">
              <button type="reset" (click)="clearData()" class="btn btn-sm btn-secondary mr-1">{{ "dashboard.reset" | translate }}</button>
              <button type="button" (click)="doSubmit()" class="btn btn-sm btn-primary">{{ "dashboard.submit" | translate }}</button>
            </div>        
          </div>
        </div>
      </div>
    </form>
    <app-results-table 
      [searchData]="this.searchData"
      [searchType]="this.bulk"
      >
    </app-results-table>
  </div>
</div>
