.message-backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, .3);
  z-index: 8;
}

.message-box{
  z-index: 9;
  width: 20vw;
  height: 10vh;
  position: fixed;
  top: 40%;
  left: calc(50% - 10vw);
  padding-top: calc(5vh - 1em);
  background: linear-gradient(-45deg, #f3f3f3, #e2dfdf, #ffffff, #bab9b9);
  background-size: 400% 400%;
  animation: gradient 5s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0 50%;
  }
}
